// app global css in SCSS form
//  Quasar Qtabs CSS start here
.q_tab_size {
  font-size: 0.7rem;
  line-height: 1.815em;
  font-weight: 500;
}
.q_tab_size_md {
  font-size: 0.9rem;
  line-height: 2.2em;
  font-weight: 500;
}
.message_icon_hide {
  display: none;
}
.custom-exp .q-expansion-item__toggle-icon {
  display: none;
}
//  Login Page Css start here
.login-card-sm {
  height: 350px;
  width: 300px;
  margin: auto;
  text-align: center;
}
.login-card-md {
  height: 350px;
  width: 400px;
  margin: auto;
  text-align: center;
}
// Unlock_Screen page css start here
.unlock-card-sm {
  height: 300px;
  width: 280px;
  margin: auto;
  text-align: center;
}
.unlock-card-md {
  height: 250px;
  width: 300px;
  margin: auto;
  text-align: center;
}
// Unlock_Screen2 page css start here
.unlock2-pic-sm {
  width: 40%;
  height: 130px;
}
.unlock2-pic-md {
  width: 10%;
  height: 130px;
}
//  User profile css
.card-bg {
  background-color: #162b4d;
}
.custom-form .q-field__native{
  color: white!important;
}
// app global css in SCSS form
.btn-length {
  width: 100%;
  height: 50px;
}
.opacity {
  opacity: 0.6;
}
.animation-top {
  animation-name: top;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes top {
  0% {
    transform: translate(10px, -200px);
  }
  100% {
    transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    -o-transform: translate(0px, 0px);
}
}
@-moz-keyframes top {
  0% {
    transform: translate(10px, -200px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-o-keyframes top {
  0% {
    transform: translate(10px, -200px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes top {
  0% {
    transform: translate(10px, -200px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
.animation-right {
  animation: 1s ease-out 0s 1 slideInRight;
}
@keyframes slideInRight {
  0% {
    transform: translateX(200%);
  }
  100% {
    transform: translateX(0);
  }
}
.animation-left {
  animation: 1s ease-out 0s 1 slideInLeft;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
.animation-bottom {
  animation-name: bottom;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes bottom {
  0% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-moz-keyframes bottom {
  0% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@-o-keyframes bottom {
  0% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
@keyframes bottom {
  0% {
    transform: translate(0px, 200px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
