// app global css in SCSS form
.q_tab_size {
  font-size: 0.7rem;
  line-height: 1.815em;
  font-weight: 500;
}
.q_tab_size_md {
  font-size: 0.9rem;
  line-height: 2.2em;
  font-weight: 500;
}
.message_icon_hide {
  display: none;
}
.custom-exp i {
  display: none;
}
.login-card-sm {
  height: 350px;
  width: 300px;
  margin: auto;
  text-align: center;
}
.login-card-md {
  height: 350px;
  width: 400px;
  margin: auto;
  text-align: center;
}
.unlock-card-sm {
  height: 300px;
  width: 280px;
  margin: auto;
  text-align: center;
}
.unlock-card-md {
  height: 250px;
  width: 300px;
  margin: auto;
  text-align: center;
}
.unlock2-pic-sm {
  width: 40%;
  height: 130px;
}
.unlock2-pic-md {
  width: 12%;
  height: 130px;
}
